<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 

<main class="container">
 
 <%-include('../partials/flash')%>

  <%# if( message && message.length){ %>
   <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
       <%#= message %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>-->
  <%# } %> 
    <h1 class="display-5">our products </h1>
     <div class="row">
         <% for(let product of products){ %> 
         <div class="col-lg-4  col-md-6 mb-3">
            <div class="card mx-auto " style="width: 25rem;">
                <img src="<%=product.img%>" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=product.name%></h5>
                  <p class="card-text"><%=product.desc.substring(0,100)%></p>
                  <h5 class="card-text">&#8377;<%=product.price%></h5>
                  <a href="/products/<%=product._id%>" class="btn btn-outline-primary">Buy Now</a>
                </div>
              </div>
         </div>
      <%}%>
     </div>



</main>















<%- include('../partials/footer') %> 